<div class="card">
  <div class="card-body">
      <h4 class="text-muted">{{'HU.hotel_update' |translate}}</h4>
      <br>
      <form [formGroup]="hotelForm">
          <!-- Title and City -->
          <div class="form-group row mb-3">
              <div class="col-md-6">
                  <label class="form-label">{{'HU.title'| translate}}</label>
                  <input type="text" class="form-control" formControlName="title" placeholder="{{'HU.title'| translate}}">
              </div>
              <div class="col-md-6">
                <label class="form-label">{{'HU.city' | translate}}</label>
                <ng-select class="mt-2" [items]="cities" bindLabel="province" bindValue="id"
                    formControlName="city">
                </ng-select>
            </div>
          </div>

          <!-- Hotel Type and Email -->
          <div class="form-group row mb-3">
            <div class="col-md-6">
                <label class="form-label">{{'HU.type' |translate}}</label>
                <select class="form-select" [(ngModel)]="selectedType" required formControlName="hotel_type">
                    <option value="" disabled selected>{{'HU.type' |translate}}</option>
                    <option *ngFor="let type of hotel_types" [value]="type.value">{{
                        currentLang == 'en_US' ? type.label : currentLang == 'ps_AF' ? type.ps : type.dr }}</option>
                </select>
            </div>
              <div class="col-md-6">
                  <label class="form-label">{{'HU.email' |translate}}</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="{{'HU.email' |translate}}">
              </div>
          </div>

          <!-- Phone and Address -->
          <div class="form-group row mb-3">
              <div class="col-md-6">
                  <label class="form-label">{{'HU.phone' |translate}} {{'+93 700 12 1234'}}</label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="+93 700 00 0000">
              </div>
              <div class="col-md-6">
                  <label class="form-label">{{'HU.address' |translate}}</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="{{'HU.address' |translate}}">
              </div>
          </div>

          <!-- Website and Description -->
          <div class="form-group row mb-3">
              <div class="col-md-6">
                  <label class="form-label">{{'HU.website' |translate}}</label>
                  <input type="text" class="form-control" formControlName="website" placeholder="{{'HU.website' |translate}}">
              </div>

              <div class="col-md-6">
                <label class="form-label">{{'UC.upload' |translate}}</label>
                <input type="file" class="form-control" (change)="uploadImage($event)">
            </div>



          </div>

          <div class="form-group row mb-3">
            <div class="col-md-6">
                <label class="form-label">{{'UV.district' |translate}}</label>
                <input type="text" class="form-control" formControlName="district" placeholder="{{'HU.district' |translate}}">
            </div>
            <div class="col-md-6">
                <label class="form-label">{{'HU.description' |translate}}</label>
                <textarea class="form-control" formControlName="description" placeholder="{{'HU.description' |translate}}"></textarea>
            </div>
          </div>

          <!-- Form Actions -->
          <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-outline-primary me-2" type="submit" (click)="createWebConfig()">{{'HU.update' |translate}}</button>
              <button class="btn btn-outline-danger" (click)="close()">{{'HU.close' |translate}}</button>
          </div>
      </form>
  </div>
</div>
