<div style="z-index: 1050 !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header mt-2">
                        <h4  class="text-primary">{{'AS.assign_zone_user' | translate}}</h4>
                        
                    </div>
                    <div class="card-body">
                        <form [formGroup]="assignform">
                            
                         


                           
                                
                                <div class="col-md-12">
                                    <label class="form-label">{{'AS.zone' | translate}}</label>

                                    <ng-select class="mt-2" [items]="zones" bindLabel="title" bindValue="id" formControlName="zone"
                                        [(ngModel)]="selectedzone">
                                    </ng-select>
                                </div>
                               
                                



                            
                            <div class="mt-3">
                                <button class="btn btn-outline-primary me-2" (click)="assign()">{{'AS.assign' | translate}}</button>
                                <button class="btn btn-outline-danger" (click)="close()">{{'AS.close' |translate}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-7"></div>
                            <div class="col-md-5 mb-2">
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>