<div class="container-fluid p-0">
  <div class="card border-0 shadow-sm">
    <div class="card-body p-2 p-md-3 p-lg-4">
      <!-- Header Section - Mobile First -->
      <div class="d-flex flex-column gap-2 mb-3">
        <div class="mb-1">
          <h4 class="h5 fw-bold text-primary mb-0">
            {{ 'UL.staff_list' | translate }}
          </h4>
          <p class="text-muted small d-none d-md-block mb-0 mt-1">
            {{ 'UL.staff_list_description' | translate }}
          </p>
        </div>

        <!-- Top Controls - Right aligned -->
        <div class="d-flex justify-content-end">
          <div class="d-flex flex-column flex-sm-row flex-wrap gap-1 w-100 w-sm-auto justify-content-end">
            <!-- Search Toggle -->
            <button type="button"
              class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1 flex-grow-1 flex-sm-grow-0"
              (click)="toggleSearchFields()">
              <i class="feather icon-search"></i>
              <span class="d-none d-sm-inline">
                {{ 'GL.search_btn' | translate }}
              </span>
            </button>

            <!-- Create Button -->
            <button *ngIf="role!='guest_user'" type="button"
              class="btn btn-primary btn-sm d-flex align-items-center gap-1 flex-grow-1 flex-sm-grow-0"
              (click)="createStaff()">
              <i class="feather icon-plus"></i>
              <span class="d-none d-sm-inline">
                {{ 'UL.create' | translate }}
              </span>
            </button>
          </div>
        </div>
      </div>


      <!-- Advanced Search Panel -->
      <div *ngIf="showSearchFields" class="search-panel card mb-3 border-primary">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center py-2 py-md-3">
          <div class="d-flex align-items-center gap-2">
            <i class="feather icon-search"></i>
            <h5 class="mb-0 fs-6">{{ 'UL.advanced_search' | translate }}</h5>
          </div>
          <button class="btn btn-sm btn-light p-1" (click)="toggleSearchFields()">
            <i class="feather icon-x"></i>
          </button>
        </div>

        <div class="card-body p-2 p-md-3">
          <form [formGroup]="searchForm" class="row g-2 g-md-3">
            <!-- Personal Information -->
            <div class="col-12">
              <h6 class="border-bottom pb-1 mb-2 text-primary fs-6">
                <i class="feather icon-user me-2"></i>{{ 'UL.personal_info' | translate }}
              </h6>
            </div>

            <!-- Name Fields - Stack on mobile -->
            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.first_name' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-user small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="first_name"
                  placeholder="{{ 'GC.first_name' | translate }}">
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.last_name' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-user small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="last_name"
                  placeholder="{{ 'GC.last_name' | translate }}">
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.father_name' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-users small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="father_name"
                  placeholder="{{ 'GC.father_name' | translate }}">
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.grand_father_name' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-users small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="grand_father_name"
                  placeholder="{{ 'GC.grand_father_name' | translate }}">
              </div>
            </div>

            <!-- Contact Information -->
            <div class="col-12 mt-3">
              <h6 class="border-bottom pb-1 mb-2 text-primary fs-6">
                <i class="feather icon-phone me-2"></i>{{ 'UL.contact_info' | translate }}
              </h6>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.nid' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-credit-card small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="tazkira" placeholder="0000-0000-00000">
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.phone' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-phone small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="phone" placeholder="+93 700 00 0000">
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'UP.email' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-mail small"></i>
                </span>
                <input type="text" class="form-control py-2" formControlName="email" placeholder="sample@gmail.com">
              </div>
            </div>

            <!-- Filters -->
            <div class="col-12 mt-3">
              <h6 class="border-bottom pb-1 mb-2 text-primary fs-6">
                <i class="feather icon-filter me-2"></i>{{ 'UL.filters' | translate }}
              </h6>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'GC.gender' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-users small"></i>
                </span>
                <select class="form-select py-2" formControlName="gender">
                  <option value="">{{ 'UL.select_gender' | translate }}</option>
                  <option *ngFor="let gender of genders" [value]="gender.value">
                    {{ currentLang == 'en_US' ? gender.label : currentLang == 'ps_AF' ? gender.ps : gender.dr }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label class="form-label small fw-bold mb-1">{{ 'UL.status' | translate }}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text py-2 px-3">
                  <i class="feather icon-check-circle small"></i>
                </span>
                <select class="form-select py-2" formControlName="is_approved">
                  <option [ngValue]="null">{{ 'UL.select_status' | translate }}</option>
                  <option *ngFor="let status of statuses" [ngValue]="status.value">
                    {{ currentLang == 'en_US' ? status.label : currentLang == 'ps_AF' ? status.ps : status.dr }}
                  </option>
                </select>
              </div>
            </div>

       <div class="col-12 col-sm-6 col-lg-3">
  <label class="form-label small fw-bold mb-1">{{ 'GL.hotel' | translate }}</label>
  <ng-select
    class="form-control-sm"
    [items]="hotels"
    formControlName="hotel"
    bindLabel="title"
    bindValue="id"
    placeholder="{{ 'UL.select_hotel' | translate }}"
    [appendTo]="'body'"
    [dropdownPosition]="'auto'"
  >
  </ng-select>
</div>


            <!-- Action Buttons -->
            <div class="col-12 mt-3 pt-2 border-top">
              <div class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-end">
                <button
                  class="btn btn-primary btn-sm d-flex align-items-center justify-content-center gap-2 flex-grow-1 flex-sm-grow-0"
                  type="submit" (click)="advanceSearch()">
                  <i class="feather icon-search"></i>
                  {{ 'GL.search' | translate }}
                </button>
                <button
                  class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center gap-2 flex-grow-1 flex-sm-grow-0"
                  (click)="reset()">
                  <i class="feather icon-refresh-cw"></i>
                  {{ 'GL.reset' | translate }}
                </button>
                <button
                  class="btn btn-outline-danger btn-sm d-flex align-items-center justify-content-center gap-2 flex-grow-1 flex-sm-grow-0"
                  (click)="toggleSearchFields()">
                  <i class="feather icon-x"></i>
                  {{ 'GC.close' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Data Table - Mobile Responsive -->
      <div class="table-responsive rounded border">
        <!-- Mobile Card View -->
        <div *ngIf="isSmallScreen" class="d-flex flex-column gap-2 p-2">
          <div *ngFor="let row of staff" class="mobile-staff-card p-3 border rounded bg-white">
            <!-- Staff Header -->
            <div class="d-flex justify-content-between align-items-start mb-2">
              <div class="d-flex align-items-center">
                <div
                  class="avatar-placeholder bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center me-2"
                  style="width: 36px; height: 36px;">
                  <i class="feather icon-user"></i>
                </div>
                <div>
                  <div class="fw-bold text-dark">{{row['first_name']}} {{row['last_name']}}</div>
                  <small class="text-muted">#{{row['id']}}</small>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary border-0" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="feather icon-more-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" style="z-index: 1050;">
                  <li *ngIf="role=='guest_care'">
                    <a class="dropdown-item" (click)="editStaff(row['id'])">
                      <i class="feather icon-edit me-2"></i>{{ 'UL.edit' | translate }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="viewStaff(row['id'])">
                      <i class="feather icon-eye me-2"></i>{{ 'UL.view' | translate }}
                    </a>
                  </li>
                  <ng-container *appHasAnyRole="['super_admin', 'sub_admin']; currentRole: role">
                    <li *ngIf="row['is_approved']">
                      <a class="dropdown-item" (click)="onDeactivate(row['id'])">
                        <i class="feather icon-x-circle me-2"></i>{{ 'UL.deactivate' | translate }}
                      </a>
                    </li>
                    <li *ngIf="!row['is_approved']">
                      <a class="dropdown-item" (click)="onActivate(row['id'])">
                        <i class="feather icon-check-circle me-2"></i>{{ 'UL.activate' | translate }}
                      </a>
                    </li>
                  </ng-container>
                  <li *ngIf="role=='super_admin'">
                    <a class="dropdown-item text-danger" (click)="openModal(row['id'])">
                      <i class="feather icon-trash-2 me-2"></i>{{ 'UL.delete' | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Staff Details -->
            <div class="row g-2 mb-2">
              <div class="col-6">
                <small class="text-muted d-block">{{ 'UL.nid' | translate }}</small>
                <span
                  [ngClass]="{'text-danger fw-bold': row.is_blacklisted && role == 'super_admin', 'text-dark': !(row.is_blacklisted && role == 'super_admin')}">
                  {{ row['tazkira'] || 'N/A' }}
                </span>
              </div>
              <div class="col-6">
                <small class="text-muted d-block">{{ 'UL.phone' | translate }}</small>
                <span
                  [ngClass]="{'text-danger fw-bold': row.is_blacklisted && role == 'super_admin', 'text-dark': !(row.is_blacklisted && role == 'super_admin')}">
                  {{ row['phone'] || 'N/A' }}
                </span>
              </div>
            </div>

            <!-- Position & Status -->
            <div class="row g-2 mb-2">
              <div class="col-6">
                <small class="text-muted d-block">{{ 'UL.occupation' | translate }}</small>
                <div class="fw-medium">{{ row['position'] || 'N/A' }}</div>
              </div>
              <div class="col-6">
                <small class="text-muted d-block">{{ 'UL.status' | translate }}</small>
                <span [ngClass]="row['is_approved'] ? 'badge bg-success' : 'badge bg-danger'">
                  {{ row['is_approved'] ? ('UL.approved' | translate) : ('UL.pending' | translate) }}
                </span>
              </div>
            </div>

            <!-- Hotel -->
            <div class="mt-2 pt-2 border-top">
              <small class="text-muted d-block">{{ 'GL.residence' | translate }}</small>
              <div class="fw-medium text-truncate">{{ row['hotel']?.title || 'N/A' }}</div>
            </div>
          </div>
        </div>

        <!-- Desktop Table View -->
        <ngx-datatable *ngIf="!isSmallScreen" #table class="staff-table" [rows]="staff" [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="120" [selected]="selected" [rowHeight]="'auto'" [scrollbarV]="false"
          [scrollbarH]="false">

          <!-- ID Column -->
          <ngx-datatable-column name="{{'GL.id' | translate}}" [width]="70" [minWidth]="70">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="badge bg-light text-dark fw-bold">#{{row['id']}}</span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Staff Info -->
          <ngx-datatable-column name="{{'UL.staff_info' | translate}}" [width]="250" [minWidth]="200">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div
                  class="avatar-placeholder bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center me-3"
                  style="width: 40px; height: 40px;">
                  <i class="feather icon-user"></i>
                </div>
                <div>
                  <div class="fw-bold text-dark">{{row['first_name']}} {{row['last_name']}}</div>
                  <div class="small text-muted">{{row['email']}}</div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Father & Grandfather Name -->
          <ngx-datatable-column name="{{'UL.family_info' | translate}}" [width]="180" [minWidth]="150">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div>
                <div class="small text-muted">{{ 'UL.father_name' | translate }}</div>
                <div class="fw-medium">{{ row?.father_name || '—' }}</div>
                <div class="small text-muted mt-1">{{ 'GL.grand_father_name' | translate }}</div>
                <div class="fw-medium">{{ row?.grand_father_name || '—' }}</div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Contact Info -->
          <ngx-datatable-column name="{{'UL.contact' | translate}}" [width]="180" [minWidth]="160">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div>
                <div class="small text-muted">{{ 'UL.nid' | translate }}</div>
                <div
                  [ngClass]="{'text-danger fw-bold': row.is_blacklisted && role == 'super_admin', 'text-dark': !(row.is_blacklisted && role == 'super_admin')}">
                  {{ row?.tazkira || '—' }}
                </div>
                <div class="small text-muted mt-2">{{ 'UL.phone' | translate }}</div>
                <div
                  [ngClass]="{'text-danger fw-bold': row.is_blacklisted && role == 'super_admin', 'text-dark': !(row.is_blacklisted && role == 'super_admin')}">
                  {{ row?.phone || '—' }}
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Hotel & Position -->
          <ngx-datatable-column name="{{'UL.work_info' | translate}}" [width]="180" [minWidth]="150">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div>
                <div class="small text-muted">{{ 'GL.residence' | translate }}</div>
                <div class="fw-medium">{{ row?.hotel?.title || '—' }}</div>
                <div class="small text-muted mt-2">{{ 'UL.occupation' | translate }}</div>
                <div class="fw-medium">{{ row?.position || '—' }}</div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Status -->
          <ngx-datatable-column name="{{'UL.status' | translate}}" [width]="120" [minWidth]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <span class="badge-dot me-2" [ngClass]="row['is_approved'] ? 'bg-success' : 'bg-danger'"></span>
                <span [ngClass]="row['is_approved'] ? 'text-success fw-medium' : 'text-danger fw-medium'">
                  {{ row['is_approved'] ? ('UL.approved' | translate) : ('UL.pending' | translate) }}
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- Actions -->
          <ngx-datatable-column name="{{'UL.actions' | translate}}" [width]="140" [minWidth]="120">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex gap-1">
                <!-- View Button -->
                <button class="btn btn-sm btn-outline-primary" (click)="viewStaff(row['id'])"
                  title="{{ 'UL.view' | translate }}">
                  <i class="feather icon-eye"></i>
                </button>

                <!-- More Actions Dropdown -->
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="feather icon-more-vertical"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end shadow" style="z-index: 1050;">
                    <li *ngIf="role=='guest_care'">
                      <a class="dropdown-item" (click)="editStaff(row['id'])">
                        <i class="feather icon-edit me-2"></i>{{ 'UL.edit' | translate }}
                      </a>
                    </li>
                    <ng-container *appHasAnyRole="['super_admin', 'sub_admin', 'guest_care']; currentRole: role">
                      <li *ngIf="row['is_approved'] &&
    (role === 'super_admin' || role === 'sub_admin')">
                        <a class="dropdown-item" (click)="onDeactivate(row['id'])">
                          <i class="feather icon-x-circle me-2"></i>{{ 'UL.deactivate' | translate }}
                        </a>
                      </li>
                      <li *ngIf="!row['is_approved']">
                        <a class="dropdown-item" (click)="onActivate(row['id'])">
                          <i class="feather icon-check-circle me-2"></i>{{ 'UL.activate' | translate }}
                        </a>
                      </li>
                    </ng-container>
                    <li *ngIf="role=='super_admin'">
                      <a class="dropdown-item text-danger" (click)="openModal(row['id'])">
                        <i class="feather icon-trash-2 me-2"></i>{{ 'UL.delete' | translate }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <!-- Pagination -->
        <div class="card-footer bg-light py-2 py-md-3" *ngIf="showPagination">
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-2">
            <!-- Items Per Page -->
            <div class="d-flex align-items-center gap-1 order-3 order-md-1">
              <span class="text-muted small">{{ 'UL.show' | translate }}</span>
              <select class="form-control order-md-2" (change)="itemsPerPage($event)">
                <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
              </select>
              <span class="text-muted small order-md-3 text-nowrap">{{ 'UL.per_page' | translate }}</span>
            </div>

            <!-- Page Info -->
            <div class="text-center order-1 order-md-2">
              <span class="text-muted small">
                {{ 'UL.page' | translate }} {{currentPage}} {{ 'UL.of' | translate }} {{totalPages}}
              </span>
              <div class="small text-muted">
                {{ 'UL.total_staff' | translate }}: {{totalItems}}
              </div>
            </div>

            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="order-3">
              <ul class="pagination pagination-sm mb-0">
                <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
                  <a class="page-link" style="cursor: pointer;" (click)="firstPage()"
                    title="{{ 'UL.first_page' | translate }}">
                    <i class="feather icon-chevrons-left"></i>
                  </a>
                </li>
                <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                  <a class="page-link" style="cursor: pointer;" (click)="previous()"
                    title="{{ 'UL.previous_page' | translate }}">
                    <i class="feather icon-chevron-left"></i>
                  </a>
                </li>

                <li *ngFor="let page of getPaginationArray()" class="page-item"
                  [ngClass]="{ active: currentPage === page }">
                  <a *ngIf="page !== '...'" class="page-link" style="cursor: pointer;" (click)="setPage(page)">{{ page
                    }}</a>
                  <span *ngIf="page === '...'" class="page-link">{{ page }}</span>
                </li>

                <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages }">
                  <a class="page-link" style="cursor: pointer;" (click)="next()"
                    title="{{ 'UL.next_page' | translate }}">
                    <i class="feather icon-chevron-right"></i>
                  </a>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage === totalPages}">
                  <a class="page-link" style="cursor: pointer;" (click)="lastPage()"
                    title="{{ 'UL.last_page' | translate }}">
                    <i class="feather icon-chevrons-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
